

/* 
.contactos
.usuario
.nombre
.status
.icons
.button
.links
.link
.principal 
*/

* {
    margin: 0;
}

main {
    border: 2px solid black;

    display: flex;
    justify-content: start;
}

.contactos {
    border-right: 2px solid black;
    
    display: flex;
    flex-direction: column;   
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 350px;
    border-bottom: 1px solid rgb(120, 120, 120);
}

img {
    
    height: 50px;
    width: 50px;
    border: 2px solid rgb(183, 183, 183);
    border-radius: 25px;
    margin-left: 25px;
}

.nombre {


    font-family: roboto, arial;
    font-size: 16px;
    margin-left: 20px;
    
}

.status {


    font-family: roboto, arial;
    font-size: 14px;
    color: rgb(197, 197, 197);
    margin-left: 20px;
    
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 70px;
    margin: 15px;
    
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid rgb(120, 120, 120);
}

button {
    height: 50px;
    width: 200px;
    border: none;
    color: white;


    background-color: rgb(197, 160, 232);
}

.links {
    display: flex;
    flex-direction: column;   
}

.link {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 70px;
    width: 350px;
    border-bottom: 1px solid rgb(120, 120, 120);
}

.user_data {
    display: flex;
    justify-content: start;
    align-items: center;
}